build/
synthesis/build/
sim_build/
model/tests/sim_build*/
model/**/__pycache__/
synthesis/**/__pycache__/
asic/runs/
tb/sim_build*/
tb/__pycache__/
__pycache__/
*.out
*.vcd
*.fst
*.vvp
*.pyc
results.xml
*.json
.DS_Store
.pytest_cache/
*.exe
lpu_driver
.vscode
.agents
input.txt
model/stories260k/
