# Six SRAM columns frame a central standard-cell compute corridor.
# Coordinates are in microns; each macro is 455.3 x 446.46 um.
u_lpu.u_icu.u_imem_sram.gen_sram_bank[0].u_sram 100 150 N
u_lpu.u_icu.u_imem_sram.gen_sram_bank[1].u_sram 100 950 N
u_lpu.u_icu.u_imem_sram.gen_sram_bank[2].u_sram 100 1750 N
u_lpu.u_icu.u_imem_sram.gen_sram_bank[3].u_sram 100 2550 N
u_lpu.u_icu.u_imem_sram.gen_sram_bank[4].u_sram 100 3350 N
u_lpu.u_icu.u_imem_sram.gen_sram_bank[5].u_sram 575 150 N
u_lpu.u_icu.u_imem_sram.gen_sram_bank[6].u_sram 575 950 N
u_lpu.u_icu.u_imem_sram.gen_sram_bank[7].u_sram 575 1750 N
u_lpu.u_icu.u_imem_sram.gen_sram_bank[8].u_sram 575 2550 N
u_lpu.u_icu.u_imem_sram.gen_sram_bank[9].u_sram 575 3350 N
u_lpu.u_icu.u_imem_sram.gen_sram_bank[10].u_sram 1050 150 N
u_lpu.u_icu.u_imem_sram.gen_sram_bank[11].u_sram 1050 950 N
u_lpu.u_mem0.gen_sky130_sram.u_banked_sram.gen_sram_bank[0].u_sram 1050 1750 N
u_lpu.u_mem0.gen_sky130_sram.u_banked_sram.gen_sram_bank[1].u_sram 1050 2550 N
u_lpu.u_mem0.gen_sky130_sram.u_banked_sram.gen_sram_bank[2].u_sram 1050 3350 N
u_lpu.u_mem0.gen_sky130_sram.u_banked_sram.gen_sram_bank[3].u_sram 2575 150 N
u_lpu.u_mem0.gen_sky130_sram.u_banked_sram.gen_sram_bank[4].u_sram 2575 950 N
u_lpu.u_mem0.gen_sky130_sram.u_banked_sram.gen_sram_bank[5].u_sram 2575 1750 N
u_lpu.u_mem0.gen_sky130_sram.u_banked_sram.gen_sram_bank[6].u_sram 2575 2550 N
u_lpu.u_mem0.gen_sky130_sram.u_banked_sram.gen_sram_bank[7].u_sram 2575 3350 N
u_lpu.u_mem0.gen_sky130_sram.u_banked_sram.gen_sram_bank[8].u_sram 3050 150 N
u_lpu.u_mem1.gen_sky130_sram.u_banked_sram.gen_sram_bank[0].u_sram 3050 950 N
u_lpu.u_mem1.gen_sky130_sram.u_banked_sram.gen_sram_bank[1].u_sram 3050 1750 N
u_lpu.u_mem1.gen_sky130_sram.u_banked_sram.gen_sram_bank[2].u_sram 3050 2550 N
u_lpu.u_mem1.gen_sky130_sram.u_banked_sram.gen_sram_bank[3].u_sram 3050 3350 N
u_lpu.u_mem1.gen_sky130_sram.u_banked_sram.gen_sram_bank[4].u_sram 3525 150 N
u_lpu.u_mem1.gen_sky130_sram.u_banked_sram.gen_sram_bank[5].u_sram 3525 950 N
u_lpu.u_mem1.gen_sky130_sram.u_banked_sram.gen_sram_bank[6].u_sram 3525 1750 N
u_lpu.u_mem1.gen_sky130_sram.u_banked_sram.gen_sram_bank[7].u_sram 3525 2550 N
u_lpu.u_mem1.gen_sky130_sram.u_banked_sram.gen_sram_bank[8].u_sram 3525 3350 N
